html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    display: inline-block;
    vertical-align: none;
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;
    color: lightgray;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    transition: color .2s linear;
}


.menuItem:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: rgb(22, 190, 22);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.menuItem:hover {
    color:rgb(22, 190, 22);
}

.menuItem:hover:after{
    opacity: 1;
}


.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);    
    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sciderbg{
    width: 750px;
    height: 750px;
    position: absolute;
    border-radius: 50%;
    opacity: .7;
    background-color: gray;
}

.sliderImage{
    z-index: 1;
}

.siderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderprice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    background-color: #111;
    transition: 0.5s;
    border-radius: 10px;
}

.buyButton:hover{
    background-color: white;
    color: #111;
}

.sliderItem:nth-child(1) .sciderbg{
    background-color: rgb(97, 126, 155);
}
.sliderItem:nth-child(2) .sciderbg{
    background-color: rgb(236, 167, 57);
}
.sliderItem:nth-child(3) .sciderbg{
    background-color: rgb(206, 218, 52);
}
.sliderItem:nth-child(4) .sciderbg{
    background-color: rgb(26, 44, 81);
}
.sliderItem:nth-child(5) .sciderbg{
    background-color: rgb(169, 172, 230);
}

.sliderItem:nth-child(1) .sliderprice{
    color: rgb(97, 126, 155);
}
.sliderItem:nth-child(2) .sliderprice{
    color: rgb(236, 167, 57);
}
.sliderItem:nth-child(3) .sliderprice{
    color: rgb(206, 218, 52);
}
.sliderItem:nth-child(4) .sliderprice{
    color: rgb(50, 87, 162);
}
.sliderItem:nth-child(5) .sliderprice{
    color: rgb(169, 172, 230);
}





.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}


.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureImg{
    width: 50px;
    height: 50px;
}


.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDescription{
    color: gray;
    width: 50%;
    height: 100px;
}




.product{
    height: 100vh;
    background-color: white;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.productDet{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;

}

.productDesc{
    font-size: 19px;
    color: gray;
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: #111;
    margin-right: 10px;
    cursor: pointer;
}

.color:nth-child(1) {
    background-color: turquoise;
  }
.color:nth-child(2) {
    background-color: skyblue;
  }
.color:nth-child(3) {
    background-color: red;
  }
  


.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: white;
    color: #111;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.productButton:hover{
    background-color: black;
    color: white;
}



.gallery {
    padding: 50px;
    display: flex;
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
    
  }
  
  .galleryImg:hover{
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .galleryImg {
    width: 100%;
    position: relative;
    transition: all .5s;
  }


  .newSeason{
    display: flex;
  }

  .nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nsImg{
    width: 100%;
    height: 500px;
  }

  .nsTitle{
    font-size: 50px;
  }

  .nsButton{
    padding: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  footer{
    display: flex;
  }

  .footerLeft{
    flex:2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }

  .fMenuTitle{
    font-size: 16px;
  }

 .fMenuList{
    padding: 0;
    list-style: none;
 }

 .fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
 }

  .footerRight{
    flex:1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fInput{
    padding: 5px;
  }

  .fButton{
    padding: 5px;
    border-color: black;
    color:black;
  }

  .fIcons{
    display: flex;
  }

  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

 .copyright{
    font-weight: 300;
    font-size: 14px;
 }

 .order{
    margin: 50px;
    margin-left: 800px;
 }


.back{
    background: url(IMAGES/2iz2.png);
    filter: brightness(.8);
}

.buynow{
    font-weight: 100;
    font-size: 100px;
    float: left;
    color: #000;
    position: absolute;
    z-index: 100;
    margin-left: 120px;
    margin-top: 250px;
    transition: .1s;
}

.buynow:hover{
    font-weight: 900;
}


